In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

import pycoas
from pycoas import pd_utils

In [3]:
pycoas.__version__

'0.1.0'

In [4]:
df = pd.read_json(
    "https://raw.githubusercontent.com/vega/vega-datasets/master/data/penguins.json"
)
df.head()

,Species,Island,Beak Length (mm),Beak Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,None
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [5]:
display(*pd_utils.show_unique_values(df, verbose=True))

Number of columns: 7
Number of object columns: 3

---